@media (max-width: 990px) {
    .nav a.btn{
        display: block;
    }
    .nav-links-aff{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        z-index: 100;
    }
    ul{
        display: block;
        
        position: absolute;
        /* top: 150px; */
        right: -1000px;
        top: 4px;
    }
    li{
        margin-top: 3rem;
    }
    .act{
        top: 8px;
        right: 7.5rem;
        transition: .4s;
    }
}